label, select, input{
  width: 150px;
  display: inline-block;
  margin: 5px 0;
}

.warning {
  color: orangered;
}

.success {
  color: green;
}

.not-displayed {
  display: none;
}

.btn-delete {
  background-color: orangered;
  color:white;
}

.btn-edit {
  background-color: #3079ff;
  color:white;
}

.auth {
  width: max-content;
  border: 1px solid gray;
  margin: 5px;
  padding: 5px 10px;
}